html, body{
    height: 100%;
}

.gridSquare{
    padding: 0px;
    margin: 0px;
    width:0;
    height:0;
    background:lightpink;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#divBtnWrap{
    text-align: center;
}
#divBtn{
    display: inline-block;
}
#divContainer{
    height: 100%;
    display: flex;
align-items: center;
justify-content: center;
}
#divGridBox{
    visibility: hidden;
    flex-wrap: wrap;
    overflow: visible;
    display: flex;
    height:750px;
    width:750px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

button{
    margin: 5;
    padding: 5px;
}